<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>News</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse">Home</a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <% @news.each do |enews| %>
          <li>
            <a href="<%=getZoodyServerURL%>/news/<%= enews.id %>">
              <%= enews.title %>
            </a>
          </li>
      <% end %>
    </ul>
  </div>

  <div data-role="footer" data-position="fixed" data-theme="b">
      <div data-role="navbar">
        <ul>
          <li><a href="<%= Rho::RhoConfig.start_path %>" data-icon="home" class="ui-state-persist ui-btn-active">Home</a></li>
          <li><a href="<%= url_for :action => :index %>" data-icon="refresh">Refresh</a></li>
        </ul>
      <div>   
  </div>
</div>